/* From Meteor examples */

.grid-block, .main, .post, .comments li, .comment-form {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

body {
  color: #666666; 
}

body .admin {
  padding-top: 30px; /* room for sub-menu */
}

.page {
  position: absolute;
  top: 0px;
  width: 100%;
}

.navbar {
  margin-bottom: 10px; }
  .navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px; }

#spinner {
  height: 300px; }

/* */

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }



.load-more {
  display: block;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }

.posts .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}


@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}


.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}

/*****Meteoryte Specific*****/

.navigation > ul  {margin-left:50px !important;} /* nav header height */

.dropdown-menu {width: 100%;
position: fixed;
top: 50px; /* sub-menu start important */
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 300px;
padding: 5px 0;
margin: 0 auto;

text-align:center;
}

.dropdown-menu li {display:inline-block;}

/*navbar */

#main {
  position: relative;
  margin-top: 50px;
}

#submenu {
  position: relative;
  margin-top: 50px;
}

.navbar .navbar-brand {
  padding-top: 10px;
  height: 32px;
  width: 74px;
}

#login-dropdown-list .form-control:focus {
  /*border-color: #FFAA00;*/
}

/*****END Meteoryte Specific*****/

/* Bootstrap stuff */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
  background-color: #fff;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer a {
  color: #777;
  margin-right: 20px;
}

.footer container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.container .text-muted {
  margin: 25px 0 0px 0;
}

.footerCopy {
  clear: both;
  color: #BBB;
  text-align: center;
  font-size: 85%;
  padding: 2px 0 1px;
  margin: 0;
  background-color: #f5f5f5;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
  width: 100%;
  margin-top: 50px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {

  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;

}

#outer {
  margin-top: 50px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.dropdown-menu.login {
    width: 300px !important;
    /*height: 170px !important;*/
    padding: 20px 20px 0px 20px;
}

.dropdown-menu.me {
    width: 300px !important;
    /*height: 210px !important;*/
    padding: 20px 20px 0px 20px;
}

.alert {
   width:100%;    
}

.want_register {
  display: block;
  margin-top: 13px;
}
.map-container {
  width: 100%;
  max-width: 100%;
  height: 500px;
}